In [13]:
import pandas as pd
from sqlalchemy import create_engine
import numpy
import pymysql

#variabili per connessione
u = 'root'
p = 'giuschil91'
h = 'localhost'
d = 'ecommerce'

In [14]:
#funzione per connessione a database tramite pandas 

def connect_pandas(u,p,h,d):
    db_connection_str = 'mysql+pymysql://' + u +':'+p+'@'+h+'/'+d
    return db_connection_str

In [15]:
db_connection = create_engine(connect_pandas(u,p,h,d))
utente = pd.read_sql('utente',db_connection)

In [16]:
########################################################################################
# QUERY NUMERO 1 Gli utenti iscritti alla newsletter che hanno fatto almeno 1 acquisto #
########################################################################################

sql1 = 'select distinct u.nome,u.cognome from utente u, ordine o where u.uid = o.uid and newsletter = 1;'

sql1 = pd.read_sql(sql1,db_connection)
#print(sql1)
#utente = pd.read_sql('utente',db_connection)
#ordine = pd.read_sql('ordine',db_connection)

left = pd.DataFrame(pd.read_sql('utente',db_connection))
right = pd.DataFrame(pd.read_sql('ordine',db_connection))
df = pd.merge(left,right, on = 'uid')

#df[df['newsletter'].isin([1])]
#print(df)

#prendi i valori se newsletter è uguale a 1 
df = df.loc[df['newsletter'] == 1]

df = df[['nome','cognome']]
print(df)

             nome   cognome
0         Daniele  Pasquini
1         Daniele  Pasquini
2         Daniele  Pasquini
3          Silvia      Naro
4          Silvia      Naro
5         Stefano   Di Vito
6         Stefano   Di Vito
7         Stefano   Di Vito
8          Angeni    Uminga
9          Angeni    Uminga
10         Angeni    Uminga
11         Angeni    Uminga
12  Giandomeni-co   Gangemi
13        Fran-co   Ventura
14     Alessandro     Biasi
15     Alessandro     Biasi
16      Federi-ca  Lanucara
17        Edmondo      Pera
18        Edmondo      Pera
19        Azzurra      Pera
20        Azzurra      Pera

In [17]:
#########################################################################
# QUERY NUMERO 2 sql ordini fatti da clienti registrati alla newsletter #
#########################################################################

sql = "select o.oid from ordine o, utente u where u.uid = o.uid and newsletter = 1"
sql = pd.read_sql(sql,db_connection)
#print(sql)


left = pd.DataFrame(pd.read_sql('utente',db_connection))
right = pd.DataFrame(pd.read_sql('ordine',db_connection))
df = pd.merge(left,right, on = 'uid')

#df[df['newsletter'].isin([1])]
#print(df)

#prendi i valori se newsletter è uguale a 1 
df.loc[df['newsletter'] == 1]

df = df[['oid']]
print(df)

    oid
0     1
1    21
2    25
3     5
4    24
5     6
6     7
7     8
8    11
9    15
10   16
11   22
12    9
13   18
14    4
15   10
16   20
17   14
18   17
19   12
20   13
21    2
22    3
23   19
24   23

In [18]:
#########################################################################
# QUERY NUMERO 3 ordini fatti da clienti non registrati alla newsletter #
#########################################################################

sql = "select u.uid, u.nome from ordine o, utente u where u.uid = o.uid and newsletter = 0"
sql = pd.read_sql(sql,db_connection)
#print(sql)

left = pd.DataFrame(pd.read_sql('utente',db_connection))
right = pd.DataFrame(pd.read_sql('ordine',db_connection))
df = pd.merge(left,right, on = 'uid')

#df[df['newsletter'].isin([1])]
#print(df)

#prendi i valori se newsletter è uguale a 1 

df = df.loc[df['newsletter'] == 0]
df = df[['nome','cognome']]
print(df)

    nome cognome
21  John   James
22  John   James
23  John   James
24  John   James

In [19]:
##############################################################
# QUERY NUMERO 4 sql città con il maggior numero di ordini   #
##############################################################

sql ="select distinct i.citta, count(o.uid) as NumeroOrdini from ordine o, indirizzo i where i.uid = o.uid group by i.citta"

sql = pd.read_sql(sql,db_connection)
#print(sql)

left = pd.DataFrame(pd.read_sql('indirizzo',db_connection))
right = pd.DataFrame(pd.read_sql('ordine',db_connection))
df = pd.merge(left,right, on = 'uid')
df= df[['citta','inid_x']]
df_grouped = df.groupby([('citta')]).count()
df_grouped_sorded = df_grouped.sort_values(by=['inid_x'], ascending=False)

print(df_grouped_sorded)

                    inid_x
citta
Roma                    24
Milano                   4
Assago                   2
Cosenza                  2
Frascati                 1
Gallico Superio-re       1

In [20]:
#########################################################################################################
#QUERY NUMERO 5 sql Gli ordini con almeno 4 prodotti ordinati per valore del carrello decrescente       #
#########################################################################################################


sql = "SELECT op.quantita, op.prezzo FROM prodotto AS p INNER JOIN orpr01 AS op ON (p.pid = op.pid) INNER JOIN ordine AS o ON (op.oid = o.oid) WHERE op.quantita >4 Group by op.quantita,op.prezzo order by op.prezzo desc"
sql = pd.read_sql(sql,db_connection)
#print(sql)

left = pd.DataFrame(pd.read_sql('ordine',db_connection))
right = pd.DataFrame(pd.read_sql('orpr01',db_connection))
df = pd.merge(left,right, on = 'oid')

#df[df['newsletter'].isin([1])]
#print(df)
df = df.loc[df['quantita'] > 4]
df= df[['prezzo','quantita','oid']]
df_sorted = df.sort_values(by=['prezzo'], ascending=False)

print(df_sorted)

    prezzo  quantita  oid
11   97.76         6    3
12   50.35         6    3
13   39.90         6    3
14   39.90         5    4
9    29.36         6    3
7    23.66         6    2
8    23.66         6    3
6    20.81         5    2
10   15.52         6    3
1     0.19         5    1
60    0.19         5   25

In [21]:
#########################################################################################################
#QUERY NUMERO 6 sql codice utente, nome e valore carrello dell' utente che ha fatto ordine piu' costoso #
#########################################################################################################

sql = "select u.uid,u.nome, op.prezzo from utente as u, ordine as o, orpr01 as op where u.uid = o.uid and o.oid = op.oid order by op.prezzo desc"
sql = pd.read_sql(sql,db_connection)
#print(sql)

ordine = pd.DataFrame(pd.read_sql('ordine',db_connection))
orpr01 = pd.DataFrame(pd.read_sql('orpr01',db_connection))
utente = pd.DataFrame(pd.read_sql('utente',db_connection))

#faccio merge tra la prima e la seconda tabella
df = pd.merge(utente,ordine, on = 'uid')
#faccio merge tra il primo merge e la terza tabella
df = pd.merge(df,orpr01, on = 'oid')
#ordino per valore carrello (prezzo)
df = df[['prezzo','nome']]
df_result = df.sort_values(by=['prezzo'], ascending=False)
print(df_result)

    prezzo        nome
38  461.61  Alessandro
42  209.00   Federi-ca
3   204.00     Daniele
23  162.00     Stefano
24  139.90     Stefano
..     ...         ...
37    4.75  Alessandro
7     4.20     Daniele
14    3.90      Silvia
11    0.19     Daniele
1     0.19     Daniele

[62 rows x 2 columns]

In [22]:
#########################################################################################################
#QUERY NUMERO 7 sql utente che ha fatto il maggior numero di ordini
#########################################################################################################

sql = "select u.nome, count(op.oid) from utente as u, ordine as o, orpr01 as op where u.uid = o.uid and o.oid = op.oid and u.newsletter = 1 group by u.nome"
sql = pd.read_sql(sql,db_connection)
#print(sql)

ordine = pd.DataFrame(pd.read_sql('ordine',db_connection))
orpr01 = pd.DataFrame(pd.read_sql('orpr01',db_connection))
utente = pd.DataFrame(pd.read_sql('utente',db_connection))


#faccio merge tra la prima e la seconda tabella
df = pd.merge(utente,ordine, on = 'uid')
#faccio merge tra il primo merge e la terza tabella
df = pd.merge(df,orpr01, on = 'oid')
#df_grouped = df.groupby([('nome')]).sum()


df= df[['nome','oid']]
df_grouped = df.groupby([('nome')]).count()
df_grouped_sorded = df_grouped.sort_values(by=['oid'], ascending=False)


print(df_grouped_sorded)

               oid
nome
Daniele         13
John            12
Angeni           9
Silvia           6
Stefano          6
Alessandro       4
Edmondo          4
Azzurra          3
Federi-ca        3
Fran-co          1
Giandomeni-co    1

In [23]:
#########################################################################################################
#QUERY NUMERO 8 metodo di spedizione preferita
#########################################################################################################

sql = "select * from spedizione"
sql = pd.read_sql(sql,db_connection)
ordine = pd.DataFrame(pd.read_sql('ordine',db_connection))
pasp01 = pd.DataFrame(pd.read_sql('pasp01',db_connection))
spedizione = pd.DataFrame(pd.read_sql('spedizione',db_connection))

#print(sql)

#faccio merge tra la prima e la seconda tabella
df = pd.merge(ordine,pasp01, on = 'paspid')
#faccio merge tra il primo merge e la terza tabella
df = pd.merge(df,spedizione, on = 'spid')


df= df[['nome','spid']]
df_grouped = df.groupby([('nome')]).count()
df_grouped_sorded = df_grouped.sort_values(by=['spid'], ascending=False)

print(df_grouped_sorded)

                           spid
nome
Consegna con corriere GLS    14
Spedizione in posta          11

In [24]:
#########################################################################################################
#QUERY NUMERO 9 metodo di pagamento preferito 
#########################################################################################################

sql = "select * from pagamento"
sql = pd.read_sql(sql,db_connection)
#print(sql)
ordine = pd.DataFrame(pd.read_sql('ordine',db_connection))
pasp01 = pd.DataFrame(pd.read_sql('pasp01',db_connection))
pagamento = pd.DataFrame(pd.read_sql('pagamento',db_connection))

#faccio merge tra la prima e la seconda tabella
df = pd.merge(ordine,pasp01, on = 'paspid')
#faccio merge tra il primo merge e la terza tabella
df = pd.merge(df,pagamento, on = 'paid')


df= df[['nome','paid']]
df_grouped = df.groupby([('nome')]).count()
df_grouped_sorded = df_grouped.sort_values(by=['paid'], ascending=False)

print(df_grouped_sorded)

                                paid
nome
Contrassegno                      15
Pagamento con Carta di Credito    10

In [25]:
#########################################################################################################
#QUERY NUMERO 10 numero ordini da rivenditori e da non rivenditori
#########################################################################################################


#utente = pd.DataFrame(pd.read_sql('utente',db_connection))
ordine = pd.DataFrame(pd.read_sql('ordine',db_connection))
orpr01 = pd.DataFrame(pd.read_sql('orpr01',db_connection))
listino = pd.DataFrame(pd.read_sql('listino',db_connection))


#faccio merge tra la prima e la seconda tabella
#df = pd.merge(utente,ordine, on = 'uid')
#faccio merge tra il primo merge e la terza tabella
df = pd.merge(ordine,orpr01, on = 'oid')
#faccio merge tra il primo merge e la terza tabella
df = pd.merge(df,listino, on = 'lsid')

df= df[['nome','lsid']]
df_grouped = df.groupby([('nome')]).count()
df_grouped_sorded = df_grouped.sort_values(by=['nome'], ascending=False)

print(df_grouped_sorded)

             lsid
nome
standard       46
rivenditori    16