In [30]:
import pandas as pd
from sqlalchemy import create_engine
import numpy
import pymysql

#variabili per connessione
u = 'root'
p = 'giuschil91'
h = 'localhost'
d = 'ecommerce'

In [31]:
#funzione per connessione a database tramite pandas 

def connect_pandas(u,p,h,d):
    db_connection_str = 'mysql+pymysql://' + u +':'+p+'@'+h+'/'+d
    return db_connection_str

In [32]:
db_connection = create_engine(connect_pandas(u,p,h,d))
utente = pd.read_sql('prodotto',db_connection)

In [268]:
#n1 sql Gli utenti iscritti alla newsletter che hanno fatto almeno 1 acquisto 
sql1 = 'select distinct u.nome,u.cognome from utente u, ordine o where u.uid = o.uid and newsletter = 1;'

sql1 = pd.read_sql(sql1,db_connection)
print(sql1)

            nome   cognome
0        Daniele  Pasquini
1         Silvia      Naro
2        Stefano   Di Vito
3         Angeni    Uminga
4  Giandomeni-co   Gangemi
5        Fran-co   Ventura
6     Alessandro     Biasi
7      Federi-ca  Lanucara
8        Edmondo      Pera
9        Azzurra      Pera

In [270]:
# sql ordini fatti da clienti registrati alla newsletter
sql = "select u.uid, u.nome from ordine o, utente u where u.uid = o.uid and newsletter = 1"
sql = pd.read_sql(sql,db_connection)
print(sql)

    uid           nome
0     1        Daniele
1     1        Daniele
2     1        Daniele
3     2         Silvia
4     2         Silvia
5     3        Stefano
6     3        Stefano
7     3        Stefano
8     4         Angeni
9     4         Angeni
10    4         Angeni
11    4         Angeni
12    8  Giandomeni-co
13    9        Fran-co
14   12     Alessandro
15   12     Alessandro
16   14      Federi-ca
17   16        Edmondo
18   16        Edmondo
19   17        Azzurra
20   17        Azzurra

In [49]:
# sql ordini fatti da clienti non registrati alla newsletter
sql = "select u.uid, u.nome from ordine o, utente u where u.uid = o.uid and newsletter = 0"
sql = pd.read_sql(sql,db_connection)
print(sql)

   uid  nome
0   20  John
1   20  John
2   20  John
3   20  John

In [50]:
# sql clienti che hanno fatto almeno un ordine non registrati alla newsletter
sql = "select distinct u.uid, u.nome from ordine o, utente u where u.uid = o.uid and newsletter = 0"
sql = pd.read_sql(sql,db_connection)
print(sql)

   uid  nome
0   20  John

In [55]:
#sql cittÃ  con il maggior numero di ordini 
sql ="select distinct i.citta, count(o.uid) as NumeroOrdini from ordine o, indirizzo i where i.uid = o.uid group by i.citta"

sql = pd.read_sql(sql,db_connection)
print(sql)

                citta  NumeroOrdini
0                Roma            24
1  Gallico Superio-re             1
2              Milano             4
3              Assago             2
4            Frascati             1
5             Cosenza             2

In [59]:
#sql ordini con almeno 5 prodotti ordinati per valore decrescente del carrello
sql = "SELECT op.quantita, op.prezzo FROM prodotto AS p INNER JOIN orpr01 AS op ON (p.pid = op.pid) INNER JOIN ordine AS o ON (op.oid = o.oid) WHERE op.quantita >4 Group by op.quantita,op.prezzo order by op.prezzo desc"
sql = pd.read_sql(sql,db_connection)
print(sql)

   quantita  prezzo
0         6   97.76
1         6   50.35
2         6   39.90
3         5   39.90
4         6   29.36
5         6   23.66
6         5   20.81
7         6   15.52
8         5    0.19

In [60]:
#sql codice utente, nome e valore carrello dell' utente che ha fatto ordine piu' costoso
sql = "select u.uid,u.nome, op.prezzo from utente as u, ordine as o, orpr01 as op where u.uid = o.uid and o.oid = op.oid order by op.prezzo desc"
sql = pd.read_sql(sql,db_connection)
print(sql)

    uid        nome  prezzo
0    12  Alessandro  461.61
1    14   Federi-ca  209.00
2     1     Daniele  204.00
3     3     Stefano  162.00
4     3     Stefano  139.90
..  ...         ...     ...
57   12  Alessandro    4.75
58    1     Daniele    4.20
59    2      Silvia    3.90
60    1     Daniele    0.19
61    1     Daniele    0.19

[62 rows x 3 columns]

In [61]:
#sql utente che ha fatto il maggior numero di ordini
sql = "select u.nome, count(op.oid) from utente as u, ordine as o, orpr01 as op where u.uid = o.uid and o.oid = op.oid and u.newsletter = 1 group by u.nome"
sql = pd.read_sql(sql,db_connection)
print(sql)

            nome  count(op.oid)
0        Daniele             13
1         Silvia              6
2        Stefano              6
3         Angeni              9
4  Giandomeni-co              1
5        Fran-co              1
6     Alessandro              4
7      Federi-ca              3
8        Edmondo              4
9        Azzurra              3

In [81]:
#sql codice utente, nome, codice ordine e data dell' ordine minore di < 5 di daniele
sql = "select op.oid,o.time,op.prezzo from utente as u, ordine as o, orpr01 as op where u.uid = o.uid and o.oid = op.oid and u.nome = 'Daniele' and op.prezzo >'5.0'"
sql = pd.read_sql(sql,db_connection)
print(sql)

   oid                time  prezzo
0    1 2011-11-01 11:00:00    32.5
1    1 2011-11-01 11:00:00    38.9
2    1 2011-11-01 11:00:00   204.0
3    1 2011-11-01 11:00:00    29.9
4   21 2011-12-05 11:00:00    13.9
5   21 2011-12-05 11:00:00     7.9
6   21 2011-12-05 11:00:00    24.0
7   21 2011-12-05 11:00:00    13.0
8   25 2011-12-05 16:00:00    32.5
9   25 2011-12-05 16:00:00    29.9

In [ ]:
#sql codice utente, nome, codice ordine e data dell' ordine minore di < 5 di daniele
sql = "select op.oid,o.time,op.prezzo from utente as u, ordine as o, orpr01 as op where u.uid = o.uid and o.oid = op.oid and u.nome = 'Daniele' and op.prezzo >'5.0'"
sql = pd.read_sql(sql,db_connection)
print(sql)